.wrapper {
    padding: 0;
    margin: 0 auto;
    --screen-breakpoint: 100%; 
    width: var(--screen-breakpoint);
    height: 100%;
    
}

@media screen and (max-width: 1440px) {
    .wrapper {
        --screen-breakpoint: 1320px;
        width: var(--screen-breakpoint);  

    }
}
@media screen and (max-width: 1320px) {
    .wrapper {
        --screen-breakpoint: 1024px;
        width: var(--screen-breakpoint);  

    }
}
@media screen and (max-width: 1024px) {
    .wrapper {
        --screen-breakpoint: 680px;
        width: var(--screen-breakpoint);  
 
    }
}
@media screen and (max-width: 680px) {
    .wrapper {
        --screen-breakpoint: 100%;
        width: var(--screen-breakpoint);  

    }
}

@media screen and (max-width: 420px) {

}