.wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.bg {
    width: 100vw;
    height: 100vh;
    background: url('../../public/images/bg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover
}

.mainTitle {
    display: flex;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 150px;
    animation: fadeInFromBottom 2s ease-out; 
}

@keyframes fadeInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(90px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.mainTitle h1 {
    font-size: 126px;
    text-align: center;
    text-transform: uppercase;
    color: #F6FFBD;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 8px;
    background: linear-gradient(to top, transparent 0%, #F6FFBD 30%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 

}

@media screen and (max-width: 1024px) {
    .mainTitle h1 {
        font-size: 96px;
    }
}

@media screen and (max-width: 680px) {
    .mainTitle h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 420px) {
    .mainTitle h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 260px) {
    .mainTitle h1 {
        font-size: 26px;
    }
}