.wrapper {
    margin-bottom: 300px;
}

.title {
    color: #ffff;
}

.sliderCards {
    
}

.card {
    padding-left: 50px;
}

.card img {
    display: block;
    object-fit: cover;
    border-radius: 25px;
}